body,
h3 {
  margin: 5px;
  font-size: 10px;
}

body {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  text-align: center;
}

ul {
  list-style: none;
}

.company-name {
  color: #000;
  text-align: left;
}

.nav-list {
  list-style: none;
  display: flex;
}

.link {
  text-decoration: none;
  color: #7944e6;
  padding: 5px;
}

.nav-item {
  text-decoration: none;
  color: #69696a;
  display: flex;
}
ul {
  margin: 0;
  padding: 0;
}
.nav-list {
  display: flex;
  flex-direction: column;
}

.hireus,
.calltoaction {
  background-color: black;
  display: block;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  color: white;
}

.para {
  border-left: 2px solid black;
  padding-left: 10px;
  color: #69696a;
}
.footer p {
  color: black;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(247, 193, 162, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #69696a;
  padding: 5px;
  box-sizing: border-box;
  line-height: 2px;
}

.footer-nav-list {
  display: flex;
  padding: 12px;
  margin: auto;
}

.footer-nav-list a {
  color: #69696a;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  ul {
    margin: 0;
    padding: 0;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
  }

  .nav-list {
    display: flexbox;
    flex-direction: row;
    margin-bottom: 10px;
  }

  ul.nav-list {
    display: flexbox;
    align-items: center;
    justify-content: right;
  }

  .link {
    text-decoration: none;
    padding: 5px;
  }

  .nav-item {
    text-decoration: none;
    color: #69696a;
    display: flex;
  }
  .about-parent-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    padding-right: 43px;
  }

  .about-container {
    margin-left: 20px;
  }
  .para,
  .calltoaction {
    width: 50%;
  }
  .about-container.side-by-side-item {
    box-sizing: border-box;
    margin: 50px auto;
  }
  .about-container {
    display: flexbox;
    position: relative;
  }
  .large {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    position: relative;
    bottom: 40px;
    background-color: rgba(247, 136, 167, 0.6);
    margin: 0 auto;
    text-align: center;
  }
  .medium {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
    top: 126px;
    left: 55px;
    background-color: rgba(247, 193, 162, 0.7);
    margin: 0 auto;
    text-align: center;
  }
  .small {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: relative;
    top: 150px;
    left: 65px;
    background-color: rgba(207, 130, 213, 0.6);
    margin: 0 auto;
    text-align: center;
  }
}
